body {
    background-color: var(--backgrnd);
    color: var(--writing);
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}
h1 {
    text-align: center;
}
#dark {
    float: right;
    color: var(--writing);
    background-color: var(--backgrnd);;  
    border-radius: 50%;
    
}
#dark:hover {
    color: var(--writing);
    background-color: var(--accent);
}
#dark:active {
    background-color: var(--accent2);
}

/* Variables */
:root {
    --backgrnd: #f0f0f0;
    --writing: #05080e;
    --shade: #afadad;
    --shade2: #8d8b8b;
    --accent: rgb(0, 176, 0);
    --accent2: rgb(217, 0, 0);
}
.dark-mode {
    --backgrnd: #05080e;
    --writing: #f0f0f0;
    --shade: #2d2d2d;
    --shade2: #1d1d1d;
    --accent: green;
    --accent2: darkred;
}

@media(min-width:1200px) {
    body {
        width: 1200px;
    }
    h1, #clock {
        font-size: 10em;
        text-shadow: 10px 10px 2px var(--shade);
    }    
    #dark {
        font-size: small;
        padding: 7px;
        box-shadow: 5px 5px 2px var(--shade);
        border-width: 2px;
    }
    #dark:active {
        box-shadow: 3px 3px 2px var(--shade2);
        transform: translateY(2px);
    }
}

@media(min-width: 800px) and (max-width: 1199px) {
    body {
        width: 800px;
    }
    h1, #clock {
        font-size: 6em;
        text-shadow: 7px 7px 2px var(--shade);
    }    
    #dark {
        font-size: small;
        padding: 7px;
        box-shadow: 5px 5px 2px var(--shade);
        border-width: 2px;
    }
    #dark:active {
        box-shadow: 3px 3px 2px var(--shade2);
        transform: translateY(2px);
    }
}

@media(min-width: 480px) and (max-width: 799px) {
    body {
        width: 480px;
    }
    h1, #clock {
        font-size: 3.5em;
        text-shadow: 5px 5px 2px var(--shade);
    }
    #dark {
        font-size: small;
        padding: 7px;
        box-shadow: 5px 5px 2px var(--shade);
        border-width: 2px;
    }
    #dark:active {
        box-shadow: 3px 3px 2px var(--shade2);
        transform: translateY(2px);
    }
}

@media(max-width:479px) {
    body {
        width: 320px;
    }
    h1, #clock {
        font-size: 2.5em;
        text-shadow: 3px 3px 1px var(--shade);
    }
    #dark {
        font-size: x-small;
        padding: 5px;
        box-shadow: 3px 3px 1px var(--shade);
        border-width: 1px;
    }
    #dark:active {
        box-shadow: 2px 2px 2px var(--shade2);
        transform: translateY(1px);
    }
}